name: Update ICS Calendar

on:
  schedule:
    - cron: "0 * * * *" # Runs every hour
  workflow_dispatch: # Allows manual triggering of the workflow

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ secrets.PAT_TOKEN }}

      - name: Set up Ruby
        uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1.288.0
        with:
          bundler-cache: true

      - name: Run rake task to generate ICS
        run: bundle exec rake esport_ics:generate:ics:all
        env:
          PANDASCORE_API_TOKEN: ${{ secrets.PANDASCORE_API_TOKEN }}

      - name: Commit and push changes
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add ics/
          git diff --staged --quiet || (git commit -m 'chore: update ICS files' && git push)
