name: Update ICS Calendar

on:
  schedule:
    - cron: "0 */12 * * *" # Runs every 12 hours
  workflow_dispatch: # Allows manual triggering of the workflow

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          token: ${{ secrets.PAT_TOKEN }}

      - name: Set up Ruby
        uses: ruby/setup-ruby@a4effe49ee8ee5b8b5091268c473a4628afb5651 # v1.204.0
        with:
          bundler-cache: true

      - name: Run rake task to generate ICS
        run: bundle exec rake esport_ics:generate:all
        env:
          PANDASCORE_API_TOKEN: ${{ secrets.PANDASCORE_API_TOKEN }}

      - name: Commit and push changes
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add ics/
          git diff --staged --quiet || (git commit -m 'chore: update ICS files' && git push)
